<VirtualHost *:80>
    ServerName www.local2048.org

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:8080/
    ProxyPassReverse / http://127.0.0.1:8080/

    ErrorLog ${APACHE_LOG_DIR}/error_2048.log
    CustomLog ${APACHE_LOG_DIR}/access_2048.log combined
</VirtualHost>
