<?php
// Archivo: config.php
// Configuración de conexión a MariaDB/MySQL
// Generado automáticamente por Ansible

return [
    'db' => [
        'host' => '{{ guestbook_db_host }}',
        'name' => '{{ guestbook_db_name }}',
        'user' => '{{ guestbook_db_user }}',
        'pass' => '{{ guestbook_db_password }}',
        'charset' => 'utf8mb4',
    ],
];