<?php
define( 'DB_NAME', '{{ wordpress_db_name }}' );
define( 'DB_USER', '{{ wordpress_db_user }}' );
define( 'DB_PASSWORD', '{{ wordpress_db_password }}' );
define( 'DB_HOST', '{{ wordpress_db_host }}' );
define( 'DB_CHARSET', 'utf8mb4' );
define( 'DB_COLLATE', '' );

define( 'AUTH_KEY',         '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );
define( 'SECURE_AUTH_KEY',  '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );
define( 'LOGGED_IN_KEY',    '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );
define( 'NONCE_KEY',        '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );
define( 'AUTH_SALT',        '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );
define( 'SECURE_AUTH_SALT', '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );
define( 'LOGGED_IN_SALT',   '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );
define( 'NONCE_SALT',       '{{ lookup("password", "/dev/null length=64 chars=ascii_letters") }}' );

$table_prefix = 'wp_';
define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
